#Assignment - elif conditions

2.wap to check a data is a sequence/iterable/individual datatype

In [4]:
i = eval(input("entr data "))
if type(i) in (str,tuple):
  print("immutable")
elif type(i) in (list, set, dict):
  print("mutable")
else:
  print("individual datatype")

entr data [1,2,3,4,5]
mutable

3.wap if input is string return its length,else if input is list pop element,else
 if input is tuple reverse else invalid input

In [6]:
a = eval(input("entrr data"))
if type(a) == str:
  print(len(a))
elif type(a) == list:
  a.pop()
  print(a)
elif type(a) == tuple:
  print(a[::-1])

entrr data(5,4,3,2,1)
(1, 2, 3, 4, 5)

4.wap to check a age belongs to category 0 to 17 child and 18 to 30 ur adult,31 to 60 ur men,61 to 100 senior citizen,else
 invalid

In [7]:
age= int(input())
if 0 <= age <= 17:
  print("you are child")
elif 18 <= age <= 30:
  print(" you are adult")
elif 31 <= age <= 60:
  print("you are men")
elif 61 <= age <= 100:
  print("you are senior citizen")
else:
  print("invalid")

99
you are senior citizen

5.wap to give hike to an employee based on his experiance,u should ask employee date of joining
 exp 0 to 2 years no hike and 3 to 5 years 5000rs hike,and 6 to 8 years 7000rs and 9 to n years 10000rs

In [8]:
exp = int(input("enter exp "))
if 0 <= exp <= 2:
  print("no hike")
elif 3 <= exp <= 5:
  print("5000rs hike")
elif 6 <= exp <= 8:
  print("7000rs hike")
else:
  print("10000rs hike")

enter exp 10
10000rs hike

6.wap to check which is smallest value among 3 numbers
a=65  b=34  c=76

In [9]:
a = 65
b = 34
c = 76
if a < b and a < c:
  print("a is smallest")
elif b < a and b < c:
  print("b is smallest")
else:
  print("c is smallest")

b is smallest

7.wap to take marks of 5 sub,calculate the average if the average is b/w 90-100 print Distinction
if 75-89 print firstclass and if its 60-74 print second class, if 50-59 print Third class,below 50 is fail

In [10]:
s1 = int(input("enter marks "))
s2 = int(input("enter marks "))
s3 = int(input("enter marks "))
s4 = int(input("enter marks "))
s5 = int(input("enter marks "))
avg = (s1+s2+s3+s4+s5)/5
if 90 <= avg <= 100:
  print("distinction")
elif 75 <= avg <= 89:
  print("first class")
elif 60 <= avg <= 74:
  print("second class")
elif 50 <= avg <= 59:
  print("third class")
else:
  print("fail")

enter marks 30
enter marks 50
enter marks 90
enter marks 80
enter marks 70
second class

8.wap to check the char is uppercase or lowercase or digit or special symbol by taking user input without useing inbuilt function.

In [27]:
char = input("enter char ")
if "a" <= char <= "z":
  print("lowercase")
elif "A" <= char <= "Z":
  print("uppercase")
elif "0" <= char <= "9":
  print("digit")
else:
  print("special symbol")

enter char h
lowercase